@font-face {
    font-family: '3dumbregular';
    src: url('3Dumb-webfont.eot');
    src: url('3Dumb-webfont.eot?#iefix') format('embedded-opentype'),
         url('3Dumb-webfont.woff2') format('woff2'),
         url('3Dumb-webfont.woff') format('woff'),
         url('3Dumb-webfont.ttf') format('truetype'),
         url('3Dumb-webfont.svg#3dumbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root{
	--borderRounding: 10%;
}

* {
	margin:  0;
	padding:  0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}

.title {
  text-align: center;
  font-family: '3dumbregular';
  font-size: 400%;
  font-weight: bold;
  padding-bottom: 1rem;
}

.content * {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.content .korean {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 160%;
}

.koreantitle {
  font-family: 'Kirang Haerang', cursive;
  color: rgb(0, 0, 160);
  font-weight: lighter;
}

.dumbtitle {
  font-family: '3dumbregular';
  font-size: 300%;
  font-weight: bold;
}

.content * {
  margin-left: auto;
  margin-right: auto;
}

.content > div {
  padding: 2rem 0;;
}

.content > div:nth-child(odd) {
  background: rgb(220, 220, 220);
}

.content p {
  display: block;
  width: 60%;
  text-align: justify;
}

.justified {
  text-align: justify;
}

.centered {
  text-align: center;
}

table {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 150%;
  text-align: center;
  position: relative;
  border-collapse: collapse;
}

table .wide {
  width: 350px;
}

td, th {
  border: 1px solid #999;
  padding: 10px;
  min-width: 80px;
}

th {
  background-color: #BBBBBB;
}

.grid-game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 200px;
  height: 200px;
  margin: 3rem auto;
  border: 1px solid black;
}

.tinygrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 80px;
  height: 80px;
  margin: auto;
  border: 1px solid black;
}

.quick {
  -webkit-transition: all 0.4s ease-in-out;
}

.slow {
  -webkit-transition: all 1s ease-in-out;
}

.grid-game > div {
  border: 1px solid black;
}

.grid-game *, .tinygrid * {
  padding: 0;
  margin: 0;
}

input[type="image"] {
  border: 2px solid black;
  padding: 0.5rem;
  margin: auto 1rem;
  border-radius: 20%;
  width: 60px;
  box-shadow: 0px 5px 18px #888888;
}

input:not(.mirrored) {
  background-color: #CCFFFF;
}

.mirrored {
  transform: scaleX(-1);
  background-color: #FFCCFF;
}

.btn {
  border: 2px solid black;
  padding: 0 1rem;
  border-radius: 20%;
  box-shadow: 0px 5px 18px #888888;
  background-color: rgba(255, 255, 255, 0.4);
}

.btn:hover {
  cursor: pointer;
}

.clickme {
  cursor: pointer;
}

.grid-2h {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2rem auto;
  width: 60%;
  grid-gap: 0;
  align-items: center;
}

.grid-2h-12 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 2rem auto;
  width: 60%;
  grid-gap: 0;
  align-items: center;
}

.grid-2h-21 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem auto;
  width: 60%;
  grid-gap: 0;
  align-items: center;
}

.grid-2full {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
  width:60%;
  align-items: center;
}

.svg-container {
  display: block;
	width: 500px;
	vertical-align: middle;
	overflow: hidden;
  z-index: 0;
}

.svg-highlighter {
  position: absolute;
  transition-timing-function: linear;
  z-index: 1;
}

.svg-content {
  display: inline-block;
}

.footer {
  text-align: center;
}

.footer * {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  font-size: 80%;
  transform: translateY(2rem);
}

@-webkit-keyframes goodShine {
    0% {
      box-shadow: none;
    }
    25% {
      box-shadow: 0px 0px 10px 5px #00FF00;
    }
    50% {
      box-shadow: 0px 0px 10px 10px #00FF00;
    }
    75% {
      box-shadow: 0px 0px 10px 5px #00FF00;
    }
    100% {
      box-shadow: none;
    }
}

@-webkit-keyframes neutralShine {
    0% {
      box-shadow: none;
    }
    25% {
      box-shadow: 0px 0px 10px 5px #0000FF;
    }
    50% {
      box-shadow: 0px 0px 10px 10px #0000FF;
    }
    75% {
      box-shadow: 0px 0px 10px 5px #0000FF;
    }
    100% {
      box-shadow: none;
    }
}

@-webkit-keyframes badShake {
    0% {
        transform: translate(0px, 0px);
        box-shadow: none;
    }
    20% {
        transform: translate(15px, 0px);
        box-shadow: 0px 0px 10px 5px #FF0000;
    }
    40% {
        transform: translate(-15px, 10px);
        box-shadow: 0px 0px 10px 10px #FF0000;
    }
    60% {
        transform: translate(0px, -10px);
        box-shadow: 0px 0px 10px 10px #FF0000;
    }
    80% {
        transform: translate(15px, 0px);
        box-shadow: 0px 0px 10px 5px #FF0000;
    }
    100% {
        transform: translate(0px, 0px);
        box-shadow: none;
    }
}
